
* {
    box-sizing: border-box;
}

body
{
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:arial;
    background-color:black;
}
#wrapper
{
    text-align:left;
    margin:0 auto;
    padding:0px;
    margin-top:20px;
    border: solid 2px #f6f2f7;
    width:600px;
    display:flex;
}
#playing {
    src: "pause.png";
}
#player
{
    flex-grow: 1;
    background-color:black;
    max-width:620px;
    padding:5px;
    padding-bottom: 0px;
    color: #f6f2f7;
    display: flex;
    flex-direction: column;
}
#track_info {
    flex: 1 1 auto;
}
#track_info h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: normal;
}
#track_info h5 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: normal;
}
#track_artist {

}
input[type="image"]
{
    text-align: left;
    max-height:20px;
    margin-left:2px;
    margin-right:5px;
    margin-top:2px;
}
#album_art {
    flex-basis:content ;
    height: 100px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#vol_img
{
    margin: 5px 5px 5px 5px;
    width:20px;
    height:20px;
}
#controls {
    flex: 1 1 auto;
    display: inline-flex;
}
#controls input[type="image"] {
    flex-basis: content;
    margin: 5px 5px 5px 5px;
}
#controls p {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 5px 5px 5px;
}
#timestamp {
    font-family: 'Courier New', Courier, monospace;
    font-size: normal;
    margin: 5px 5px 5px 5px;
}

#change_vol {
    height: 30px;
    width: 150px;
    margin: 0 0 0 0;
}

@media only screen and (max-width: 620px) {
    #wrapper {
        width: 100%;
    }
}