body
{
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:black;
}
#wrapper
{
    text-align:right;
    vertical-align: middle;
    margin:0 auto;
    padding:0px;
    border: solid 2px white;
    width:600px;
    display:flex;
}
#playing {
    src: "pause.png";
}
#player
{
    flex-grow: 1;
    background-color:black;
    width:500px;
    padding:5px;
    box-sizing:border-box;
}
input[type="image"]
{
    text-align: left;
    max-height:20px;
    margin-left:2px;
    margin-right:5px;
    margin-top:2px;
}
#album_art {
    flex-basis:content ;
    height: 100px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#change_vol {
    text-align: right;
}
#vol_img
{
    max-width:20px;
}